    <meta name="description" content="Description">
    <meta name="keywords" content="social content network, social network">
    <meta name="robots" content="index">
    <meta name="author" content="HENDHY HUTOMO">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Facebook -->
    <meta property="og:title" content="Title">
    <meta property="og:site_name" content="Site Name">
    <meta property="og:description" content="Description">
    <meta property="og:url" content="/_url">
    <meta property="og:image" content="assets/images/img-to-share.jpg">
    <meta property="og:type" content="website">

    <!-- Google+ -->
    <meta itemprop="name" content="Name">
    <meta itemprop="description" content="Description">
    <meta itemprop="image" content="assets/images/img-to-share.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title">
    <meta name="twitter:description" content="Description">
    <meta name="twitter:url" content="/_url">
    <meta name="twitter:image" content="assets/images/img-to-share.jpg">
