
@font-face {
    // font-family: 'Interstate Mono';
    // src: font('InterstateMono-Bold-custom.eot');
    // src: font('InterstateMono-Bold-custom.eot?#iefix') format('embedded-opentype'),
    //     font('InterstateMono-Bold-custom.woff2') format('woff2'),
    //     font('InterstateMono-Bold-custom.woff') format('woff'),
    //     font('InterstateMono-Bold-custom.ttf') format('truetype');
    // font-weight: bold;
    // font-style: normal;
}
