//COLLAPSE ANIMATION
.dropdown__mobileonly{
    @include respond-to(mobile){
        & .dropdown__trigger{

        }
        & .dropdown__wrapper{
            @include transition(all .25s 0s linear);
        }
        &:not(.dropdown_open){
            & > .dropdown__wrapper{
                max-height: 0px !important;
                height: 0px !important;
                pointer-events: none;
            }
        }
        &.dropdown_open{
            & > .dropdown__wrapper{
                height: auto;
                max-height: 100vh;
            }
        }
    }
}


// PROGRESSIVE IMAGE LOADING
img.progressive__load{
    visibility: hidden;
    .progressive_load_wrapper.loaded &{
        visibility: visible; 
    }
}

.progressive_load_wrapper{
    &::after{
        @include pseudo();
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        width: 50px;
        height: 50px;
        pointer-events: none;
        border: solid $color_default 5px;
        border-radius: 100px;
        clip-path: inset( 0% 0% 50% 0%);
        @include animation(loading_spin 1s linear infinite forwards);
    }
    &:not(.loaded){
        position: relative;
        background: white !important;
        pointer-events: none !important;
    }
    &.loaded{
        &::after{
            display: none;
        }
    }
}

@include keyframes(loading_spin){
    0%{
        @include transform(translate(-50%, -50%) rotate(0deg));
    }
    100%{
        @include transform(translate(-50%, -50%) rotate(360deg));
    }
}
